body
{
  padding: 0px;
  margin: 0px;

  min-height: 100vh;

  background-image: url('./images/aesthetic-dreamy-background-purple-cloudy-sky-vector-glitter-design_53876-156334.avif');
  background-repeat: no-repeat;
  background-size:cover;
}